<h1>
  Gotham Cares Charitable Trust
</h1>

<h3>
    Bridging Lifes & Bringing Smiles
</h3>

<!-- <div class="new">
  <h2>Welcome {{title}}</h2>
</div> -->
<div class="design">
  <ul >
     <li><a  routerLink="/outletdetails">Outlet Details</a></li>
     <li><a  routerLink="/add">Add Outlet</a></li>
     <li><a  routerLink="/delete">Delete Outlet</a></li>
     <li><a  routerLink="/edit">Edit Outlet</a></li>
     <li><a  routerLink='/search'>Search Outlet</a></li>
  </ul>
</div>

<div class="about">
  <h2 id="heading">ABOUT US</h2>
  <p id="content">
     Our organisation works to provide holistic care and support to the ones who are really in need of.
     We focus on creating a homely atmosphere and a happy environment for the inhabitants.Our aim 
     is to motivate them by guiding, educating, and giving them love and care that they deserve.We 
     put in our best efforts to provide them with all the facilities that they wish for.
  </p>
</div>
<div class="float-child1">
  <img src="assets/images/1.jpg" width="700" height="400">
</div> 



<div class="float-child2">
<div class="section">

    <h2 id="heading1">UPCOMING ACTIVITIES</h2>
    <h4 id="heading2">Food Distribution Programme</h4>
    <p class="details">
      The Society is planning to distribute food amongst our inhabitants and is organizing various outlets across the city.We are currently in need of volunteers for 
      the distribution purpose in each outlets.Those who are interested please feel free to contact us.
    </p>

</div>

<div class="end">
  <h4> Contact Details:</h4><br>
  <div id="details">
  Email:&nbsp;
  <a href="mailto:gothamcares@gmail.com">gothamcares@gmail.com</a><br>
   Phone number:&nbsp;9255368811<br>
   Alternate number:&nbsp;9663252881<br>
  </div>
</div>
</div>